html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

canvas {
    display: block;
}

body {
    margin: 0;
}

#unity-container {
    width: 100%;
    height: 100%;
}

#unity-canvas {
    width: 100%;
    height: 100%;
    background: black;
}

#loading-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#unity-loading-bar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#unity-logo {
    text-align: center;
}

    #unity-logo img {
        max-width: 65%;
        margin: 0 auto; /* Добавлено для центрирования */
    }

#unity-progress-bar-empty {
    width: 50%;
    height: 24px;
    margin: 10px 20px 20px 10px;
    text-align: left;
    border: 1px solid white;
    padding: 2px;
}

#unity-progress-bar-full {
    width: 0%;
    height: 100%;
    background: white;
}

.light #unity-progress-bar-empty {
    border-color: black;
}

.light #unity-progress-bar-full {
    background: black;
}

#unity-fullscreen-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center;
    background-size: contain;
}

#loading-txt {
    background-image: linear-gradient(-225deg, #152757 0%, #10537a 29%, #13d0ff 67%, #525b83 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

#login {
    background-image: url("../google_btn.png");
    position: absolute;
    z-index: 9999;
    top: 15px;
    right: 8%;
    width: 10%;
    height: 4.895%;
    background-size: 100% 100%;
}

#logout {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid;
    border-radius: 5px;
    background-color: rgb(142, 32, 32);
    position: absolute;
    z-index: 9999;
    top: 15px;
    right: 8%;
    width: 10%;
    height: 50px;
    text-align: center;
    font-family: 'MuseoModerno', cursive;
}

.matoki {
    border: 10px;
    background-color: rgb(178, 34, 34);
    border-radius: 5px;
    height: 30px;
    width: 100%;
}
